
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --border:.1rem solid rgba(255,255,255,.3);
    --bg:#010103;
    --balck:#13131a;
    --main-color:#d3ad7f;
}

*{
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
/* html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
} */
/* html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
} */

body{
/* background: linear-gradient(rgba(203, 196, 153, 0.498),rgba(225, 225, 225, 0)); */
background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 0%,rgba(233,212,179,1) 0%,rgba(233,212,179,1) 0%,rgba(252,252,252,1) 100%);
}
section{
    padding: 2rem 7%;
}
.heading{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}
.heading span{
    color: black;
    text-transform: uppercase;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
}
.message{
    top: 14vh;
    font-size: 1.7rem;
    text-transform: none;
}

/* NAVBAR */
.header{
    /* background: linear-gradient(to right, rgb(187, 182, 144) 0%,rgb(184, 177, 137) 100%,rgb(174, 165, 114) 100%); */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 7%;
    border-bottom: var(--border);
    top: 0; right: 0; left: 0;
    z-index: 1;
}
.header{
    position: fixed;
    width: 100%;  
}
.header .logo{
    height: 13rem;
}
.header .navbar a{
    margin: 3rem;
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header .navbar a:hover{
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    color: var(--balck);
    border: 2px solid var(--main-color);
    margin: .2rem;
    /* border-radius: 50%; */
    padding: 0rem 1rem;
}
.header .share a:hover{
    background-color: var(--main-color);
}

/* SEARCH E TOGGLE */
.header .icons div{
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover{
    color: var(--main-color);
}
/* toggle */
#menu-btn{
    display: none;
}
/* search-box */
.header .search-form{
    position: absolute;
    top: 15%; right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}
.header .search-form.active{
    transform: scaleY(1);
}
.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--balck);
    padding: 1rem;
    text-transform: none;
}
.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: var(--balck);
}
.header .search-form label:hover{
    color: var(--main-color);
}
.spazioNavbar{
    height: 54px;
    width: 110px;
}

/* immagine header */
.home{
    min-height: 80vh;
    /* width: 100vh; */
    display: flex;
    align-items: center;
    background:linear-gradient(rgba(203, 196, 153, 0.498),rgba(225, 225, 225, 0)), url(/public/img/cant3.jpg) no-repeat;
    /* background-size: cover; */
    background-position: center;
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.home .content{
    max-width: 60rem;
    background-color: var(--main-color);
    padding: 5rem;
    border-radius: 5px;
}
.home .content h3{
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
}
.home .content p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #ffffff;
}
.home .content .btn{
    background-color: var(--balck);
    color: #fff;
}
.home .content .btn:hover{
    background-color: #fff;
    color: var(--balck);
    cursor: pointer;
    letter-spacing: .2rem;
    transition: .4s;
}
.stemma-header{
    height: 10rem;
    
}


/* about */
.about .row{
    display: flex;
    align-items: center;
    background: var(--balck);
    gap: 1rem;
    flex-wrap: wrap;
    border-radius: 5px;
}
.about .heading{
    margin-top: -6vh;
}
.about .row .image{
    flex: 45rem;
    margin-top: 2rem;
}
.about .row .image img{
    width: 30%;
    margin-bottom: 6vh;
}
.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
    color: #fff;
}
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.about .row .content .btn:hover{
    background-color: #fff;
    color: var(--main-color);
    transition: .4s;
}


/* CAROUSEL-GALLERIA */
.galleria .heading-2{
    margin-top: -3vh;
}
.galleria .heading-2 span{
    color: #fff;
}
.carousel{
    height: 70vh;
}
.carousel-inner{
    height: 70vh;
}
.carousel-image{
    height: 90vh;
    
}
/* .carousel-item{
    height: 65vh;
    width: 75vh;
    left: 50vh;
} */

/* PAGINA GALLERIA */
.gallery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .heading3{
    margin-top:20vh;
    font-family: 'poppins', sans-serif;
    width: 50%;
    padding-bottom: 5vh;
}
.gallery .heading3 h3{
    font-size: 3rem;
    font-weight: bolder;
    border-bottom: 3px solid var(--main-color);
}
.gallery .heading3 span{
    font-size: 4rem;
    font-weight: 100;
}
.gallery .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    margin: 40px 20px 0 20px;
}
.gallery .box .dream{
    display: flex;
    flex-direction: column;
    width: 32.5%;
    margin: 1rem;
}
.gallery .box .dream img{
    width: 100%;
    padding-bottom: 8px;
    border-radius: 5px;
}
/* .gallery .box .dream img:hover{
    scale: 0.9;
    margin: 2rem;
} */
.gallery .btn a{
    color: #fff;
    text-decoration: none;
}
.gallery .btn:hover{
    background-color: var(--balck);
    color: #fff;
}

/* CONTATTACI E MAPPA */
.background{
    background: #fff;
}
.contact .row{
    display: flex;
    background: #e4e3e3;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 5px;
}
.contact .row .map{
    flex:2 1 5rem;
    object-fit: cover;
    margin: 1vh;
}
.contact .row form{
    flex:1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: var(--balck);
    border: var(--border);
}
.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.bottone-contatti{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 1.7rem;
    color: var(--main-color);
    background: var(--main-color);
    color: var(--balck);
    cursor: pointer;
}
.bottone-contatti:hover{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3rem;
    font-size: 1.7rem;
    color: var(--main-color);
    background: var(--balck);
    cursor: pointer;
    letter-spacing: .2rem;
    color: #fff;
}
textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}


/* PAGINE CONTATTI */
.contactContatti{
    margin-top: 17vh;
    background-color: #fff;
}
.backgroundContatti{
    background-color: #fff;
}
.numero{
    height: 12rem;
    margin-top: -2rem;
    margin-bottom: 0.1rem;
}
.fa{
    scale: 1.5;
    margin-left: 4rem;
    margin-right: 5rem;
    margin-top: 2.1rem;
}


/*FOOTER e SOCIAL */
.footer{
    background-color: #ffffff;
    text-align: center;
    margin-top: 5vh;
}
.footer .share{
    padding: 1rem 0;
}
.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--balck);
    border: 2px solid var(--main-color);
    margin: .3rem;
    border-radius: 50%;
}
.footer .share a:hover{
    background-color: var(--main-color);
}
.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}
.footer .links a{
    padding: .7rem 2rem;
    color: var(--balck);
    border: 2px solid var(--main-color);
    font-size: 2rem;
    text-decoration: none;
}
.footer .links a:hover{
    background-color: var(--main-color);
}
/* credit scritte finali */
.footer .credit{
    font-size: 2rem;
    color: var(--balck);
    font-weight: lighter;
    padding: 1.5rem;
}
.footer .credit span{
    color: var(--main-color);
}


@media (max-width:1024px){
    .message{
        top: 12vh;
        font-size: 1.7rem;
        text-transform: none;
    }
}


@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .message{
        top: 12vh;
        font-size: 1.7rem;
        text-transform: none;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
    /* CARD-GALLERIA */
    .galleria .heading-2{
        margin-top: -3vh;
    }
    .carousel{
        height: 50vh;
    }
    .carousel-inner{
        height: 50vh;
    }
    .carousel-image{
        height: 50vh;
        
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .message{
        top: 14vh;
        font-size: 1.7rem;
        text-transform: none;
    }
    .header .navbar{
        position: absolute;
        top: 13vh; right: 0%;
        background: #d3ad7f;
        width: 100%;
        transition: .5s;
        border-radius: 5px;
        justify-content: center;
        
    }
    .header .navbar a{
        color: #fff;
        background: var(--main-color);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
        transition: .5s;
    }
    .header .navbar a:hover{
        color: #fff;
        background: var(--main-color);
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
        background-size: cover;     
    }
    .home .content{
        margin-top: -30vh;
        background: transparent;
    }
    .home .content h3{
        font-size: 4.5rem;
        color: #fff;
    }
    .home .content p{
        font-size: 2.5rem;
    }
    .card:hover{
        scale: 1.0;
        margin: 0;
    }
    /* CARD-GALLERIA */
    .galleria .heading-2{
        margin-top: -3vh;
    }
    .carousel{
        height: 50vh;
    }
    .carousel-inner{
        height: 50vh;
    }
    .carousel-image{
        height: 50vh;
        
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .message{
        top: 13vh;
        font-size: 1.7rem;
        text-transform: none;
    }
    .header .logo{
        height: 11rem;
    }
    .home .content{
        margin-top: -30vh;
        background: transparent;
    }
    .header .navbar{
        position: absolute;
        top: 12vh; right: 0%;
        background: #d3ad7f;
        width: 100%;
        transition: .5s;
        border-radius: 5px;
    }
    /* .header .navbar a{
        border-right: 2px solid #9b441855;
    } */
    .heading3{
        margin-top:15vh;
        font-family: 'poppins', sans-serif;
    }
    /* CARD-GALLERIA */
    .galleria .heading-2{
        margin-top: -3vh;
    }
    .carousel{
        height: 50vh;
    }
    .carousel-inner{
        height: 50vh;
    }
    .carousel-image{
        height: 50vh;
        
    }
}
@media (max-width:375px){
    .message{
        top: 15vh;
        font-size: 1.7rem;
        text-transform: none;
    }
    .header .logo{
        height: 10rem;
    }
    .header .navbar{
        position: absolute;
        top: 15vh; right: 0%;
        background: var(--main-color);
        width: 100%;
        transition: .5s;
        border-radius: 5px;
    }
    .home{
        margin-top: 10vh;
    }
    .home .content{
        margin-top: 1vh;
        background: transparent;
    }
    .heading3{
        margin-top:15vh;
        font-family: 'poppins', sans-serif;
    }
    /* CARD-GALLERIA */
    .galleria .heading-2{
        margin-top: -3vh;
    }
    .carousel{
        height: 50vh;
    }
    .carousel-inner{
        height: 50vh;
    }
    .carousel-image{
        height: 50vh;
        
    }
}